.barcode-container {
    width:100%;
}
.barcode {
    float: right;
}
div.worksheet {
    font-size:0.9em;
}
div.worksheet a {
    color:#000;
    text-decoration:none;
}
div.worksheet h1 {
    padding-top:11px;
    font-size:1.9em;
}
div.subheader {
    padding: 11px 0;
}
div.content {
    padding:3px 0;
    font-size:1.1em;
    border-top:1px solid #333;
}
div.arinfo {
    font-size:1.1em;
    padding: 0 6px;
    font-weight:normal;
}
div.content table {
}
div.content table tbody th {
    padding:0 5px 0 0;
    text-align:left;
}
div.content table tbody td {
    padding:2px;
    border:2px solid #888;
}
div.content table tbody td.requestid {
    font-weight:bold;
}
div.content table tbody td.result {
    width:30px;
}
div.content table tbody th.analyses {
    padding:6px 0 8px 0;
    font-size:1.5em;
}
div.content table td.requestid {
    border:none;
}
div.content table div.barcode {
    float:none;
}
div.content table tbody td.no-result {
    padding:0;
    border:2px solid #fff;
}
div.content table tbody td.no-result div {
    position:relative;
    overflow:hidden;
    padding:10px;
}
div.content table tbody td.no-result div:before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border: 99999px #dcdcdc solid;
    z-index: 0;
}
div.content table tbody td.no-result div * {
    position: relative;
    z-index: 1;
}

@media print {
    div.content table div.barcode {
        margin: 0 0 0 -10px;
    }
}